<div class="login-container">
  <mat-card>
    <mat-card-title>
      <mat-toolbar color="primary">
        Sign In
      </mat-toolbar>
    </mat-card-title>
    <mat-card-content>
      <form (submit)="onSubmit()" [formGroup]="loginForm">
        <mat-form-field>
            <input matInput type="email" placeholder="email" formControlName="email" />
        </mat-form-field>
        <mat-form-field>
            <input matInput type="password" placeholder="password" formControlName="password" />
        </mat-form-field>

        <button type="submit" mat-button [disabled]="loginForm.invalid" color="primary">
          Sign In
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>