<div class="login-container">
  <mat-card>
    <mat-card-title>
      <mat-toolbar color="primary">
        Sign In
      </mat-toolbar>
    </mat-card-title>
    <mat-card-content>
      <form>
        <mat-form-field>
            <input matInput type="email" placeholder="email" />
        </mat-form-field>
        <mat-form-field>
            <input matInput type="password" placeholder="password" />
        </mat-form-field>

        <button type="submit" mat-button color="primary">
          Sign In
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>